# Название работы
name: Deploy

# Дейстивие
on:
  # Начинает срабатывать при действии push
  push:
    # Указать ветки, в которых будет срабатывать
    branches:
      - main

# Работа, которая будет выполняться
jobs:
  # Задача deploy
  deploy:
    # На сервере ОС ubuntu. Работа будет выполняться на ubuntu 
    runs-on: ubuntu-latest

    # Шаги, которые будут выполняться 
    steps:
      # Название шага
      - name: Checkout code
      - uses: actions/checkout@v2


      # Отправка на сервер по ssh
      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.BEGET_HOST }}
          username: ${{ secrets.BEGET_USER }}
          key: ${{ secrets.BEGET_PRIVATE_KEY }}
          scripts: cd /home/t/tataril4/tataril4.beget.tech/public_html && git pull origin main

          